<div class="uk-card uk-card-default">
  <div class="uk-card-media-top">
    <img src="{{this.picPath}}" alt="img" width="375">
  </div>
  <div class="uk-card-body uk-height-small uk-padding-small">
    <div class="uk-flex-inline">
      <h4 class="uk-card-title" id="coral">{{this.titlee}}</h4>
      <div class="uk-align-right">
        {{#if this.canUpdate}}
        <a href="" uk-toggle="target: #new-notice" uk-icon=" icon: file-edit" uk-tooltip="Edit"></a>
        <a href="/main/{{this._id}}/delete" uk-icon="icon: trash" uk-tooltip="Delete"></a>
        {{/if}}
      </div>
    </div>
    <p>{{this.description}}</p>
  </div>
</div>
<div id="new-notice" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-padding-large uk-background-muted" id="modal-styles">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <form action="/main/{{_id}}/edit" method="POST" enctype="multipart/form-data">
      <h4 class="uk-modal-title uk-text-center">UPDATE NOTICE</h4>
      <div class="uk-text-center">
        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: tag"></span>
            <input name="titlee" class="uk-input uk-form-width-large" type="text"
              placeholder="Enter a title for this notice" value="{{titlee}}">
          </div>
        </div>
        <div class="uk-margin">
          <div class="uk-inline">
            <textarea class="uk-textarea uk-form-width-large" name="description" id="" cols="30" rows="3"
              placeholder="Description">{{description}}</textarea>
          </div>
        </div>
        <div class="js-upload" uk-form-custom>
          <input type="file" name="postPic">
          <button class="uk-button uk-button-default" type="button" tabindex="-1">Select image</button>
        </div>
      </div>
      <p class="uk-text-right">
        <button class="uk-button" id="button" type="submit">Save</button>
      </p>
    </form>
  </div>
</div>