<li>
  <a href="/manager/{{this.tag}}">{{this.tag}}</a>
  {{this.graph}}
  {{#if this.canUpdate}}
  <div>
    <a href="/manager/{{this._id}}/editU" uk-icon="icon: file-edit" uk-tooltip="Edit"></a>
    <a href="/manager/{{this._id}}/deleteU" uk-icon=" icon: trash" uk-tooltip="Delete"></a>
  </div> <br>
  {{/if}}
</li>