<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shorcut icon" href="../images/icon.png">
  <title>{{title}}</title>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <div id="new-user" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Create user</h2>
      <form {{#if _id}} action="/manager/{{_id}}/edit" {{else}} action="/manager/newUser" {{/if}} method="POST">
        <div class="uk-margin">
          <label for="">
            Full name:
            <input class="uk-input uk-form-width-medium uk-form-small" type="text" name="name" value="{{name}}">
          </label>
        </div><br>
        <div class="uk-margin">
          <label for="">
            e-mail:
            <input class="uk-input uk-form-width-medium uk-form-small" type="email" name="email" value="{{email}}">
          </label>
        </div>
        <div class="uk-margin">
          <select class="uk-select">
            <option value="STUDENT">STUDENT</option>
            <option value="TEACHER">TEACHER</option>
            <option value="PARENT">PARENT</option>
            <option value="MANAGER">MANAGER</option>
          </select>
        </div>
        <div class="uk-margin">
          <label for="">
            Image:
            <input class="uk-input uk-form-width-medium uk-form-small" type="text" name="image" value="{{image}}">
          </label>
        </div>
        <div class="uk-margin">
          <label for="">
            Description:
            <textarea class="uk-textarea" name="description" id="" cols="30" rows="3">{{description}}</textarea>
          </label>
        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="uk-button uk-button-primary" type="submit">Save</button>
        </p>
      </form>
    </div>
  </div>

  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        {{#if canCreateArticle}}
        <li><a href="/main/newNotice">New notice</a></li>
        <li><a href="/manager">Comunity</a></li>
        {{/if}}
        {{#if canCreateUser}}
        <li><a href="" uk-toggle="target: #new-user">New user</a></li>
        <li><a href="/manager/newGroup">New group</a></li>
        {{/if}}
        {{#if canRate}}
        <li><a href="/teacher">My groups</a></li>
        {{/if}}
      </ul>
    </div>

    <div class="uk-navbar-center">
      <a class="uk-navbar-item uk-logo" href="/main"><img src="../images/icon.png" alt="logo" width="30vw"> &nbsp School
        Management</a>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        {{#unless user}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{else}}
        <li><a href="/profile">{{user.email}}</a></li>
        <li><a href="/logout">Logout</a></li>
        {{/unless}}
      </ul>
    </div>
  </nav>

  {{{body}}}

  <footer class="uk-tile-muted uk-h6-default uk-position-bottom">
    <div class="uk-flex uk-flex-row uk-flex-around">
      <p class="uk-padding-small">Tonalá 10, Roma Norte, 06700, CDMX</p>
      <p>01 55 3039 1903</p>
      <p>contact@schoolmanagement.com</p>
    </div>
  </footer>

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>