<!--<div id="border">
    <h2 class="uk-text-center" id="coral">{{user.name}}</h2>
    <form action="Calificaciones" method="POST">
        <div>
            <label for="">Student`s Name
                <input type="text" name="name">
            </label>
        </div>
        <div>
            <label for="">
                Materia:
                <select name="materia" id="">
                    <option value="" selected disabled>Select the Subject</option>
                    <option value="spanish">Spanish</option>
                    <option value="math">Math</option>
                    <option value="history">History</option>
                    <option value="philosophy">Philosophy</option>
                    <option value="science">Science</option>
                    <option value="technology">Technology</option>
                    <option value="english">English</option>
                    <option value="physical education">Physical Education</option>
                </select>
            </label>
        </div>
        <div>
            <label for="">Qualification
                <input type="number" name="">
            </label>
        </div>
        <div>
            <label for="">Assistance
                <input type="checkbox" name="YES">
            </label>

        </div>
        <div>

        </div>
        <button type="Agregar">Submit</button>
    </form>
    {{#each alumni as |al|}}
    {{al.name}}
    {{/each}}
    <div class="uk-overflow-auto" id="text">
        {{#each materias as |materia|}}
        <table>
            <thead>
                <tr>
                    {{#each alumni as |al|}}
                    {{al.name}}
                    {{/each}}
                </tr>
                <tr>
                    <td class="uk-width-small">PERIOD / STUDENT</td>

                </tr>
            </thead>
            <tbody>
                <h5 class="uk-text-center">{{materia.materia}}</h5>
                {{#each materia.notes as |mat|}}
                <tr>
                    <td>{{mat.periodo}}</td>
                    {{#each mat.note as |calif|}}
                    <td>{{calif}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/each}}
    </div>
</div>-->

<div id="border">
    <h2 class="uk-text-center" id="coral">{{user.name}}</h2>
    <h5 class="uk-text-center">{{#each materias as |materia|}}
        | {{materia.materia}} |
        {{/each}}</h5>
    <div class="uk-overflow-auto" id="text">
        <table class="uk-table uk-table-hover uk-table-divider uk-table-middle uk-text-center">
            <thead>
                <tr>
                    <td class="uk-width-small">PERIOD / STUDENT</td>
                    {{#each alumni1 as |al1|}}
                    <td>{{al1.name}}</td>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each materias.[0].notes as |mat|}}
                <tr>
                    <td>{{mat.periodo}}</td>
                    {{#each mat.note as |calif|}}
                    <td>{{calif}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
            <thead>
                <tr>
                    <td class="uk-width-small">PERIOD / STUDENT</td>
                    {{#each alumni2 as |al2|}}
                    <td>{{al2.name}}</td>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each materias.[1].notes as |mat|}}
                <tr>
                    <td>{{mat.periodo}}</td>
                    {{#each mat.note as |calif|}}
                    <td>{{calif}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>