<h1>new user form</h1>
<form 
{{#if _id}}
  action="/manager/{{_id}}/edit" 
{{else}}
  action="/manager/newUser"
{{/if}} method="POST">
  <div>
    <label for="">
      Full name:
      <input class="uk-input uk-form-width-medium uk-form-small" type="text" name="name" value="{{name}}">
    </label>
  </div><br>
  <div>
    <label for="">
      e-mail:
      <input class="uk-input uk-form-width-medium uk-form-small" type="email" name="email" value="{{email}}">
    </label>
  </div><br>
  <div class="uk-margin">
      <select class="uk-select">
          <option value="STUDENT">STUDENT</option>
          <option value="TEACHER">TEACHER</option>
          <option value="PARENT">PARENT</option>
          <option value="MANAGER">MANAGER</option>
      </select>
  </div><br>
  <div>
    <label for="">
      Image:
      <input class="uk-input uk-form-width-medium uk-form-small" type="text" name="image" value="{{image}}">
    </label>
  </div><br>
  <div>
    <label for="">
      Description:
      <textarea class="uk-textarea" name="description" id="" cols="30" rows="3">{{description}}</textarea>
    </label>
  </div><br>
  <button class="uk-button uk-button-default" type="submit">Submit</button>
</form>